# Vivado generated / local state
.Xil/
*.jou
*.log
*.str
*.zip

# Project / runs (do NOT version-control these)
*.xpr
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.srcs/sources_1/bd/*/ip/*
*.sdk/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
